.alert-page{
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #1f5c80;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 190px;
  padding: 20px;
}

.breakdown{
  color:#8ECDDD;
  font-size: 30px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.notify{
  font-size: 28px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 30px;
}

.notify-button{
  border: none;
  padding: 10px 15px;;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: rgb(208, 42, 64);
  cursor: pointer;
}

.notified{
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8ECDDD;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
